{# templates/remove_all_config.j2 #}  

{% if hostvars[inventory_hostname].os_details.network_os == 'eos' %}  
{# Arista EOS Section #}  

{# Remove routing protocols #}  
no router bgp {{ hostvars[inventory_hostname].bgp_config.local_as }}  
no router ospf 1  

{# Remove device identity configurations #}  
no hostname  
no banner motd  

{# Remove loopback interfaces #}  
{% if hostvars[inventory_hostname].loopback_configs is defined %}  
{% for loopback, configs in hostvars[inventory_hostname].loopback_configs.items() %}  
no interface {{ loopback }}  
{% endfor %}  
{% endif %}  

{# Remove static routes if there are EBGP neighbors #}  
{% if hostvars[inventory_hostname].bgp_config.neighbors is defined %}  
{% for neighbor_group in hostvars[inventory_hostname].bgp_config.neighbors.values() %}  
{% if neighbor_group.type == 'external' %}  
{% for peer_ip in neighbor_group.peers.keys() %}  
no ip route {{ peer_ip }}/32  
{% endfor %}  
{% endif %}  
{% endfor %}  
{% endif %}  

{# Remove RR configurations if the router is an RR client #}  
{% if hostvars[inventory_hostname].bgp_config.rr_client %}  
no ip prefix-list FILTER_EBGP_STATIC  
no ip prefix-list FILTER_LOOPBACKS  
no route-map FILTER_EBGP_STATIC  
no route-map OUTBOUND_FILTER  
{% endif %}  

{# Reset WAN interfaces except Ethernet2 #}  
{% if hostvars[inventory_hostname].wan_config is defined %}  
{% for interface, interface_config in hostvars[inventory_hostname].wan_config.items() %}  
{% if interface != 'Ethernet2' %}  
interface {{ interface }}  
   default ip address  
   default mtu  
   no description  
!  
{% endif %}  
{% endfor %}  
{% endif %}  

{% elif hostvars[inventory_hostname].os_details.network_os == 'ios' %}  
{# Cisco IOS Section #}  

no router bgp {{ hostvars[inventory_hostname].bgp_config.local_as }}  
no router ospf 1  

{# Remove device identity configurations #}  
no hostname  
no banner motd  

{# Remove loopback interfaces #}  
{% if hostvars[inventory_hostname].loopback_configs is defined %}  
{% for loopback, configs in hostvars[inventory_hostname].loopback_configs.items() %}  
no interface {{ loopback }}  
{% endfor %}  
{% endif %}  

{# Reset WAN interfaces except GigabitEthernet0/2 #}  
{% if hostvars[inventory_hostname].wan_config is defined %}  
{% for interface, interface_config in hostvars[inventory_hostname].wan_config.items() %}  
{% if interface != 'GigabitEthernet0/2' %}  
interface {{ interface }}  
 no ip address  
 no mtu  
 no description  
!  
{% endif %}  
{% endfor %}  
{% endif %}  

{% elif hostvars[inventory_hostname].os_details.network_os == 'junos' %}  
{# Juniper JUNOS Section #}  

delete protocols ospf  
delete protocols bgp  
delete interfaces lo0  
delete routing-options  
delete policy-options  
delete system host-name  
delete system login message  

{# For Juniper, we need to be careful with interface em2 #}  
{% if hostvars[inventory_hostname].wan_config is defined %}  
{% for interface, interface_config in hostvars[inventory_hostname].wan_config.items() %}  
{% if interface != 'em2' %}  
delete interfaces {{ interface }}  
{% endif %}  
{% endfor %}  
{% endif %}  

{% endif %}
