{# templates/remove_all_config.j2 #}  

{% if hostvars[inventory_hostname].os_details.network_os == 'eos' %}  
{# Arista EOS Section #}  

{# Remove routing protocols #}  
no router ospf 1  

{# Remove device identity configurations #}  
no hostname  
no banner motd  

{# Remove loopback interfaces #}  
{% if hostvars[inventory_hostname].loopback_configs is defined %}  
{% for loopback, configs in hostvars[inventory_hostname].loopback_configs.items() %}  
no interface {{ loopback }}  
{% endfor %}  
{% endif %}  

{# Reset WAN interfaces except Ethernet2 #}  
{% if hostvars[inventory_hostname].wan_config is defined %}  
{% for interface, interface_config in hostvars[inventory_hostname].wan_config.items() %}  
{% if interface != 'Ethernet2' %}  
interface {{ interface }}  
   default ip address  
   default mtu  
   no description  
!  
{% endif %}  
{% if interface == 'Ethernet2' %}
interface {{ interface }}
no mtu
!
{% endif %}
{% endfor %}  
{% endif %}  

{% elif hostvars[inventory_hostname].os_details.network_os == 'ios' %}  
{# Cisco IOS Section #}  

no router ospf 1  

{# Remove device identity configurations #}  
no hostname  
no banner motd

{# Remove loopback interfaces #}  
{% if hostvars[inventory_hostname].loopback_configs is defined %}  
{% for loopback, configs in hostvars[inventory_hostname].loopback_configs.items() %}  
no interface {{ loopback }}  
{% endfor %}  
{% endif %}  

{# Reset WAN interfaces except GigabitEthernet0/2 #}  
{% if hostvars[inventory_hostname].wan_config is defined %}  
{% for interface, interface_config in hostvars[inventory_hostname].wan_config.items() %}  
{% if interface != 'GigabitEthernet0/2' %}  
interface {{ interface }}  
 no ip address  
 no mtu  
 no description  
!  
{% endif %}  
{% if interface == 'GigabitEthernet0/2' %}
interface {{ interface }}
no mtu
!
{% endif %}
{% endfor %}  
{% endif %}  

{% elif hostvars[inventory_hostname].os_details.network_os == 'junos' %}  
{# Juniper JUNOS Section #}  

delete protocols ospf  
delete interfaces lo0  
delete system host-name  
delete system login message  

{# For Juniper, we need to be careful with interface em2 #}  
{% if hostvars[inventory_hostname].wan_config is defined %}  
{% for interface, interface_config in hostvars[inventory_hostname].wan_config.items() %}  
{% if interface != 'em2' %}  
delete interfaces {{ interface }}  
{% endif %}  
{% if interface == 'em2' %}  
delete interfaces em2 mtu
{% endif %}  
{% endfor %}  
{% endif %}  

{% endif %}
